
.SignInPage{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

.name-app{
    font-size: 7rem;
    font-weight: 350;
    margin: 0px;
    margin-bottom: 20vh;
}

.welcome-title{
    font-size: 2.5rem;
    margin-top: 30vh;
    font-weight: 200;
    margin-bottom: 0px;
}