.profileName{
    margin-top: 1em;
    padding: 0px;
}
.profilePic{
    border-radius: 50%;
    height: 10em;
    width: 10em;
    image-rendering: crisp-edges;
}
.profile{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
