.Blue{
    background-color: #3C5E90;
    height: auto;
    width: 90%;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 7px;
    margin-top: 20px;
}
.header{
    z-index: 2;
    height:auto;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns:auto 50px ;
    grid-template-rows: 1fr;
    border-radius: 20px;
}
.item{
    z-index: 2;
    height:auto;
    width: 90%;
    background-color: white;
    margin-left: 5%;
    border-radius: 20px;

}
.ul{
    
    padding:0;
}
.ToDo{
    display: block;
}
h2{
    padding-left: 50px;
    margin: 0;
}
.AddButton{
    justify-self: center;
    align-self: center;
}
.item-high{
    z-index: 2;
    height:2em;
    width: 90%;
    background-color: white;
    margin-left: 5%;
    border-radius: 20px;
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;


}
.item-medium{
    z-index: 2;
    height:2em;
    width: 90%;
    background-color: white;
    margin-left: 5%;
    border-radius: 20px;
    border: 5px solid #FFD159;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;

}
.item-low{
    z-index: 2;
    height:2em;
    width: 90%;
    background-color: white;
    margin-left: 5%;
    border-radius: 20px;
    border: 5px solid #A3F596;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;



.daybutton {
    background-color: white;
    color: #3C5E90;
    margin-left: 2%;
    margin-right: 2%;
    border-style: none;

}