.ChartContainer{
    align-content: center;
    height: 100%;
    width: 90%;
    margin: 0px;
    background-color: white;
    border-radius: 20px;
    align-self: center;
    justify-self: center;

}