:root {
  --red: #ff0000;
  --box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  --box-shadow-insert: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  --yellow: #ffd159;
  --light-green: #a3f596;
}

.color {
  --sky: var(--sky);
  --blue: var(--blue);
  --white: var(--white);
}

.dark {
  --sky: var(--sky);
  --blue: var(--blue);
  --white: var(--white);
}

body {
  margin: 0;
  font-family: "Sulphur Point", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--sky);
  color: var(--blue);
}
button {
  font-family: "Sulphur Point";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.InpToDo {
  height: auto;
  width: 90%;
  background-color: var(--sky);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-self: center;
  justify-self: center;
  border-radius: 40px;
  box-shadow: var(--box-shadow);
}

.BlueForm {
  background-color: var(--blue);
  height: auto;
  width: 90%;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr auto 1fr;
  row-gap: 20px;
}

.BlueFormRem {
  background-color: var(--blue);
  height: auto;
  width: 90%;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;

  grid-template-rows: 1fr 1fr 1fr auto 1fr;

  row-gap: 20px;
}

.TitleForm {
  background-color: var(--white);
  border-radius: 20px;
  padding: 0;
  height: 40px;
}
h4 {
  font-size: 1.5em;
}
input {
  height: 3em;
  border-radius: 20px;
  border: none;
  align-self: center;
  justify-self: center;
  width: 90%;
  text-align: center;
}
.submitForm {
  margin-top: 10px;
  width: 25%;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  align-self: center;
  justify-self: center;
  background-color: var(--sky);
  font-size: 1.5em;
  color: var(--blue);
  cursor: pointer;
}

.time {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr;
}
.recurringCheck {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: none;
  align-self: center;
  justify-self: center;
  background-color: var(--red);
  box-shadow: var(--box-shadow);
}
.urgency {
  height: 2.5em;
  width: 3em;
  border-radius: 1.25em;
  border: 0;
  justify-self: center;
  align-self: center;
  box-shadow: var(--box-shadow);
}
button:hover {
  box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.urgencyDiv {
  display: grid;
  grid-template-columns: 3em 3em 3em;
  grid-template-rows: 1fr;
}
#high {
  background-color: var(--red);
}
#medium {
  background-color: var(--yellow);
}
#low {
  background-color: var(--light-green);
}
input {
  box-shadow: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.true {
  background-color: var(--light-green);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);

  width: 80%;
  border: 1px solid var(--blue);
  height: 1.5em;
  border-radius: 20px;
  color: var(--blue);
  margin-bottom: 1px;
  margin-top: 1px;
}

.false {
  background-color: var(--sky);

  width: 80%;
  border: 1px solid var(--blue);
  height: 1.5em;
  border-radius: 20px;
  color: var(--blue);
  margin-bottom: 1px;
  margin-top: 1px;
}
.doneButton {
  background-color: var(--blue);

  width: 80%;
  border: 1px solid var(--blue);
  height: 1.5em;
  border-radius: 20px;
  color: var(--sky);
  margin-bottom: 1px;
  margin-top: 1px;
}
.dateSection {
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;

  height: auto;
}

.activeButton {
  background-color: var(--sky);
  width: 90%;
  border: 1px solid var(--blue);
  height: 3em;
  border-radius: 20px;
  color: var(--blue);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.buttonForm {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 20%;
}
.BlueFormGoals {
  background-color: var(--blue);
  height: auto;
  width: 90%;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 20px;
}

.Switch {
  height: 3em;
  width: 7em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  border-radius: 1.5em;
  box-shadow: var(--box-shadow-insert);
  justify-self: flex-end;
  align-self: center;
  margin-right: 10px;
}
.Buttonswitch {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: none;
  align-self: center;
  justify-self: center;
  background-color: var(--red);
  box-shadow: var(--box-shadow);
  justify-self: flex-start;
  transition: all 1s ease-in;
}

#true {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: none;
  align-self: center;
  justify-self: center;
  background-color: var(--light-green);
  box-shadow: var(--box-shadow);
  justify-self: flex-end;
  transition: all 1s ease-in;
}

#false {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: none;
  align-self: center;
  justify-self: center;
  background-color: var(--red);
  box-shadow: var(--box-shadow);
  justify-self: flex-start;
  transition: all 1s ease-in;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--blue);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--white);
  display: block;
  transition: text-decoration 1s;
}
.overlay a:hover,
.overlay a:focus {
  text-decoration: underline;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
#menuIcon {
  font-size: 30px;
  padding-left: 5vw;
  cursor: pointer;
}
