.Goals{
    background-color: white;
    height: auto;
    width: 80vw;
    align-self: center;
    justify-self: center;
    border-radius: 2em;
    margin: auto;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}